a{
    text-decoration: none;
}
.wrap{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.container{
    display:flex;
    float:left;
    justify-content: center;
    align-items:center;
    margin-top:60px;
    width:354px;
    text-align:center;
}
#logo{
    padding-top:200px;
}
.log_box{
    display:flex;
}
.post-form{
    display:block;
}
.log_right{
    display:block;
    width:100px;
}
.log_btn{
    width:100px;
    height:100px;
}
.findacnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    box-sizing: border-box;
}
input{
    width:254px;
    height: 30px;
    border:none;
    border-bottom: 2px solid #adadad;
    font-size:16px;
}
button[type=submit]{
    width:258px;
    height:30px;
    margin:15px 0px;
    background-color: rgb(181,214,146);
    border:none;
    border-radius: 0.2rem;
}
#signup{
}
