<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/camera.css') }}"/>
    <title>Camera</title>
</head>
<body>
    <div class="wrap">
        <div class="container">
            <div class="col-lg-8 offset-lg-2">
                <div id="logo">
                <img src="{{ url_for('static', filename='logoImage/logo.png') }}" width="200px">
                </div>
                <div id="header">
                    <h2>CLASS</h2>
                </div>
                <h3 class="mt-5">프로그램 실행</h3>
                <button id="core" type="button" onclick="location.href='/camera/video_feed' ">프로그램 실행</button>
            </div>
        </div>
    </div>
</body>
</html>