<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>얘들아 수업듣자!</title>
    </head>
    <body>
        <div class="wrap">    
            <div id="logo">
                <img src="{{ url_for('static', filename='image/logo.png') }}" width="200px">
            </div>
            <div class="my_box">
                <div id="hello_txt">{{ student_id }}님 반가워요!</div>
                <!--<div id="log_btn"><a href="">LOGOUT</a></div>-->
                <button id="log_btn",type="button" onclick="location.href='/logout' ">LOGOUT</button>
            </div>
            <div class="container">
                <div class="btn"> <a href="{{url_for('myPage.myPage2')}}"> MY PAGE </a> </div>
                <div class="btn"> <a href="{{url_for('camera.camera2')}}"> CLASS </a> </div>
            </div>
    </body>
</html>
