<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
          a { text-decoration: none; color: black; }
          a:visited { text-decoration: none; }
          a:hover { text-decoration: none; }
          a:focus { text-decoration: none; }
          a:hover, a:active { text-decoration: none; }
        </style>
        <title>Sign up</title>
    </head>
    <body>
        <div class="wrap">
            <div id="logo">
                <img src="{{ url_for('static', filename='logoImage/logo.png') }}" width="200px">
            </div>
        <div class="container">
            <div class="profile">
                <div id="header">
                    <h2>MY PAGE</h2>
                </div>
                <div id="pf_content">
                    <div id="pf_img">
                        <img  src="{{ url_for('static', filename='image/profile.png') }}" width="100px">
                        <form action = "http://localhost:5000/myPage/uploader"
                              method="post"
                              enctype="multipart/form-data">
                            <input type="file" name ="file"/>
                            <input type="submit"/>
                        </form>
                    </div>
                    {% if g.user %}
                    <dl>
                        <dt>닉네임</dt>
                        <dd>{{ g.user.nickname }}</dd>
                        <dt>학번</dt>
                        <dd>{{ g.user.student_id }}</dd>
                        <dt>총 집중시간</dt>
                        <dd>{{ g.drowsinessdata.d_time }}</dd>
                    </dl>
                    {% else %}
                    <dl>
                        <dt>닉네임</dt>
                        <dd>{{ nickname }}</dd>
                        <dt>학번</dt>
                        <dd>{{ student_id }}</dd>
                        <dt>총 집중시간</dt>
                        <dd>{{ d_time }}</dd>
                    </dl>
                    {% endif %}
                </div>
                <div id="dr_content">
                    <div class="print_sleep">
                        <h3>sleep moment</h3>
                        <img  src="{{ url_for('static', filename='capture_image/drowsiness_capture.png') }}" width="100px">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>
